@{
  Layout = "_Layout";
}

@model TravelClient.Models.Place;

<h4>@Html.DisplayFor(model => model.City)</h4>
<h4>@Html.DisplayFor(model => model.Country)</h4>
<h4>@Html.DisplayFor(model => model.Description)</h4>